/* .lineWidthRange {
  visibility: visible;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 25px 200px;
  border-color: transparent transparent #5B5B5B transparent;
}

#lineWidthRange {
  width: 200px;
}

#addCanvas {
  position: absolute;
  width: 800px;
  height: 500px;
}
#colorChoose{
	width: 32px;
	height: 32px;
}
.demo {
  display: flex;
  flex-direction: column;
}

#eraser,
#rainbowColor,
#undo,
#redo,
#getQuestion,
#skip{
  width: 200px;
  height: 30px;
}

.draw {
  border: 1px solid #999;
  position: absolute;
}

#imgs{
  border: 1px solid #999;
  width: 800px ;
  height: 500px;
}

.img{
  position: absolute;
}

#colorView {
  border: 1px solid #999;
  width: 100px;
}

#questionData {
  max-width: 40%;
  display: flex;
  justify-content: space-between;
}

#question {
  border: 1px solid #999;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.gameMsg{
  font-size: 20px;
  border: 1px solid #999;
  width: 100px;
  height: 50px;
}

.mainPart,
.playerPart,
.rankPart{
 border: 1px solid rgb(201, 205, 209);
 margin:  1%;
}

.container{
 width: 100%;
}

.userPhoto,
.hostPhoto,
.gamerPhoto,
.userinfoPhoto{
 width: 100px;
 height: 100px;
 object-fit: cover;
}


.row{
 justify-content: space-between;
}
.rankPart{
 flex-grow: 1;
}

.room{
 padding: 2%;
 justify-content:flex-start;
 display: flex;
}

.tableDiv{
 height: 400px;
 overflow: scroll;
}

.draw {
 border: 1px solid #999;

 position: absolute;
}

#addCanvas {
 align-items: center;
 width: 500px;
 height: 300px;
}


  
  .mainPart,
  .playerPart,
  .rankPart{
   border: 1px solid rgb(201, 205, 209);
   margin:  1%;
  }
 
  
  .container{
   width: 100%;
  }


  .hostPhoto,
  .gamerPhoto,
  .userinfoPhoto{
   width: 100px;
   height: 100px;
   object-fit: cover;
  }
  
  
  .row{
   justify-content: space-between;

  }
  .rankPart{
   flex-grow: 1;
  }
  
  .imgs{
   border: 1px solid #999;
   min-width: 800px;
   min-height: 500px;
   max-height: 500px;
  }
  
  
  .img{
   position: absolute;
   min-width: 800px;
   min-height: 500px;
   max-height: 500px;
  }
  
  .room{
   padding: 2%;
   justify-content:flex-start;
   display: flex;
  }
  
  .draw {
   border: 1px solid #999;
   width: 800px;
   height: 500px;
   position: absolute;
  }
  
  #addCanvas {

   width: 800px;
   height: 500px;
   display: block;
  }



  .tool{
    margin-top: 500px;
  }

  .main{
    justify-content: center;
    align-items: center;
  }

  .correct{
    border: 2px solid red;
  } */
