@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@font-face {
  font-family: 'cwTeXYen';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
}

@import '~@sweetalert2/theme-borderless/borderless.scss';

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
/* for fontawesome */
i.fas, i.far {
  user-select: none;
}

body {
  /* font-family: 'Chivo', 'cwTeXYen', Verdana;   */
  font-family: 'Josefin Sans', 'cwTeXYen', Verdana;
  position: relative;
  
  
}
/* .padding2{
 padding: 0 2%;
} */

.main{
 width: 1250px;
 margin: 0 auto;
}
header.index {
 height: 120px;
 width: 100%;
 background-color: #FFFFFF;
 display: flex;
 justify-content: space-between;
 align-items: center;
 top: 0;
 position: fixed;
 z-index: 500;
}


header.index .title-container .title {
 display: block;
 text-align: center;
 font-size: 3rem;  /*   need check */
 color: #000000;  /*   need check */
 font-family: 'Kalam', Verdana;  /*   need check */
 font-weight: 600;  /*   need check */
 margin-left: 50px;
}

header.index .member-container {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 18px;
}

.signup-form-btn{
 margin-right: 30px;
}

#info{
 padding-top: 0px;
 padding-right: 80px;
 padding-left: 30px;
}
header.index .member-container .item:hover {
 color: #3f53d9;
 cursor: pointer;
}

header.index .member-container .signup-form-btn {
 padding: 10px 20px;
 border-radius: 30px;
 background-color: #3f53d9;
 transition: linear 0.3s;
 color: #FFFFFF;
}

header.index .member-container .signup-form-btn:hover {
 background-color: #2234AA;
 cursor: pointer;
}
.button{
 margin-top: 30px;
}
#exampleModal2,
#createGame,
#singlePlay{
   display: none;
}

 










.rowMain,
.main{
 margin-top:100px;
}
.mainpart{
 margin-top: 120px;
}
.mainPart,
.playerPart,
.rankPart{
 border: 1px solid rgb(201, 205, 209);
 /* margin:  1%; */
}
#addCanvas{
  height: 400px;
}
#mainPart,
#rankShow{
padding-top: 20px;
padding-left: 10px;
display: flex;
flex-direction: column;
}




.row{
 justify-content: space-between;
 height: 950px;

 /* align-items: center; */
}
.mainPart,
.rankPart{
 flex-grow: 1;
 height: 950px
}





.room{
 padding: 2%;
 justify-content:flex-start;
 display: flex;
}


/* #mainPart, */
.mainTableDiv{
 height: 950px;
 overflow: scroll;
}





.draw {
 border: 1px solid #999;
 /* float: left; */
 position: absolute;
}

.tableTitle{
 position: fixed;
}

.hostinfo,
.userinfo,
#info{
 justify-content: center;
 align-items: center;
}


.hostinfo{
 display: flex;
 flex-direction: column;
}


.hostinfo:hover .hover{
 display: block;
}

#info:hover .hover{
 display: block;
}
.userinfo:hover .hover{
 display: block;
}
.hover{
 display: none;
}

.hover{
	display: inline-block;
	position: absolute;
	background: #222;
	border-radius: .4em;
	padding: 10px;
	font-size: .85em;
	color: #fff;
}
.hover:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #222;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.thName,
.userName{
  display: none;
  z-index: 49;
 }
/* .photoTd{
 position: relative;
} */


td{
 font-size: 20px;
 padding: -20px;
}
.swal-button,
.swal-text{
 font-size: 20px;
}














.lineWidthRange {
 visibility: visible;
 width: 0;
 height: 0;
 border-style: solid;
 border-width: 0 0 25px 200px;
 border-color: transparent transparent #5B5B5B transparent;
}

#lineWidthRange {
 width: 200px;
}


#colorChoose{
width: 32px;
height: 32px;
}
.demo {
 display: flex;
 flex-direction: column;
}

#eraser,
#rainbowColor,
#undo,
#redo,
#getQuestion,
#skip{
 width: 200px;
 height: 30px;
}

.draw {
 border: 1px solid #999;
 position: absolute;
}

#join{
 font-size: 20px;
 margin-top: 2%;
 margin-left: 2%;
}



#colorView {
 border: 1px solid #999;
 width: 100px;
}

#questionData {
 max-width: 40%;
 display: flex;
 justify-content: space-between;
}

#question {
 border: 1px solid #999;
 border-radius: 5px;
 width: 200px;
 height: 40px;
 display: flex;
 justify-content: space-around;
 align-items: center;
}


.gameMsg{
 font-size: 20px;
 border: 1px solid #999;
 width: 100px;
 height: 50px;
}

.mainPart,
.playerPart,
.rankPart{
border: 1px solid rgb(201, 205, 209);
/* margin:  1%; */
}

.container{
width: 100%;
}

.userPhoto,
.hostPhoto,
.gamerPhoto,
.userinfoPhoto{
width: 100px;
height: 100px;
object-fit: cover;

}

.gamerPhoto{
 margin: 0 auto;
}

.row{
justify-content: space-between;
}
.rankPart{
flex-grow: 1;
}

.room{
padding: 2%;
justify-content:flex-start;
display: flex;
}

.tableDiv{
/* border: 1px solid #999; */
height: 400px;
overflow: scroll;
/* margin-right: 0%; */
position: relative;
}

.draw {
border: 1px solid #999;

position: absolute;
}

.table{
align-items: center;
justify-content: center;
}




 
 .container{
  width: 100%;
 }


 .hostPhoto,
 .gamerPhoto,
 .userinfoPhoto{
  width: 100px;
  height: 100px;
  object-fit: cover;
 }
 


 
 .row{
  justify-content: space-between;

 }
 .rankPart{
  flex-grow: 1;
 }
 

 

 
 
 
 .room{
  padding: 2%;
  justify-content:flex-start;
  display: flex;
 }
 
 .draw {
  border: 1px solid #999;
  /* width: 800px;
  height: 500px; */
  position: absolute;
 }
 
 #addCanvas {
  align-items: center;
  /* width: 800px;
  height: 500px; */
  display: block;
 }



 /* .main{
   justify-content: center;
   align-items: center;
 } */

 .correct{
   border: 2px solid red;
 }


 #thRank{
  padding-left: 0%;
 }


.hostPhotoMainPage,
.userPhoto{
 width: 100px;
 height: 100px;
 border-radius:50%;
 object-fit: cover;
 padding: 3px;
 border:2px gray solid;
 box-shadow:3px 3px 12px gray;padding:3px
}

 






.hostPhoto,
.gamerPhoto,
.userinfoPhoto{
width: 80px;
height: 80px;
padding: 3px;
box-shadow:3px 3px 12px gray;padding:3px
}

.imgs{
 border: 1px solid #999;
 width: 640px ;
 height: 400px;
 position: relative;
}
 

#imgs{
 border: 1px solid #999;
 width: 640px ;
 height: 400px;
 min-width: 400px;
 position: relative;
 z-index: 100;
 padding: 0%;
}
.img{
 top: 0%;
 position: absolute;
 min-width: 640px;
 min-height: 400px;
 max-height: 400px;
}



footer{
 z-index: 999;
 position: sticky;
}
footer.index {
 height: 51px;
 background-color: #3f53d9;
 color: #FFFFFF;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 
}

footer .copyright {
  text-align: center;
}


#myTab{
 margin-top: 2%;
}

#main{
 width: 1250px;

}

#text{
  margin-top: 20px;
}

#copyButton{
  border: 1px solid #999;
  margin-left: 20px;
}

#uploadText{
  width: 100px;
  height: 100px;
background-color: khaki;
  border-radius: 50%;
  padding: 3px;
 border:2px gray solid;
 justify-content: center;
 align-items: center;
 display: flex;
 flex-direction: column;
 font-size: 22px;
}