@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@font-face {
  font-family: 'cwTeXYen';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
}

@import '~@sweetalert2/theme-borderless/borderless.scss';

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
/* for fontawesome */
i.fas, i.far {
  user-select: none;
}

body {
  /* font-family: 'Chivo', 'cwTeXYen', Verdana;   */
  font-family: 'Josefin Sans', 'cwTeXYen', Verdana;
  position: relative;
  background-color: #D4FFFF;

 /* font-family: 'Kalam', Verdana;    need check */

}
.padding2{
  background-color: #D4FFFF;
}

.main{
 width: 1250px;
 margin: 0 auto;
}
header.index {
 height: 120px;
 width: 100%;
 background-color: #FFFFFF;
 display: flex;
 justify-content: space-between;
 align-items: center;
 top: 0;
 position: fixed;
 z-index: 500;
}


header.index .title-container .title {
 display: block;
 text-align: center;
 font-size: 3rem;  /*   need check */
 color: #000000;  /*   need check */
 font-family: 'Kalam', Verdana;  /*   need check */
 font-weight: 600;  /*   need check */
 margin-left: 50px;
}

header.index .member-container {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 18px;
}

.signup-form-btn{
 margin-right: 30px;
}

#info{
 padding-top: 0px;
 padding-right: 40px;
 padding-left: 30px;
}
header.index .member-container .item:hover {
 color: #3f53d9;
 cursor: pointer;
}

header.index .member-container .signup-form-btn {
 padding: 10px 20px;
 border-radius: 30px;
 background-color: #3f53d9;
 transition: linear 0.3s;
 color: #FFFFFF;
}

header.index .member-container .signup-form-btn:hover {
 background-color: #2234AA;
 cursor: pointer;
}
.button{
 margin-top: 30px;
}
#exampleModal2,
#createGame,
#singlePlay{
   display: none;
}

 










.rowMain,
.main{
 margin-top:100px;
}
.mainpart{
 margin-top: 120px;
}
.mainPart,
.playerPart,
.rankPart{
 border: 1px solid rgb(201, 205, 209);
}


#mainPart,
#rankShow{
padding-top: 10px;
padding-left: 30px;
padding-right: 30px;
display: flex;
flex-direction: column;

}

#homeRankShow{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  
  }
  



.row{
 justify-content: space-between;
 height: 590px;
}
.homeRow{
justify-content: space-between;
height: 950px;
}
 /* align-items: center; */

.mainPart,
.rankPart{
 flex-grow: 1;
 height: 590px
}

.homePart{
  flex-grow: 1;
  height: 950px;
  background-color: white
}






.room{
 padding: 2%;
 justify-content:flex-start;
 display: flex;
}


/* #mainPart, */
.mainTableDiv{
 height: 950px;
 overflow: scroll;
}





.draw {
 border: 1px solid #999;
 /* float: left; */
 position: absolute;
}

.tableTitle{
 position: fixed;
}

.hostinfo,
.userinfo,
#info{
 justify-content: center;
 align-items: center;
}


.hostinfo{
 display: flex;
 flex-direction: column;
}


.hostinfo:hover .hover{
 display: block;
}

#info:hover .hover{
 display: block;
}
.userinfo:hover .hover{
 display: block;
}
.hover{
 display: none;
}

.hover{
	display: inline-block;
	position: absolute;
	background: #222;
	border-radius: .4em;
	padding: 10px;
	font-size: .85em;
	color: #fff;
}
.hover:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #222;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.thName,
.userName{
  display: none;
  z-index: 49;
 }
/* .photoTd{
 position: relative;
} */


td{
 font-size: 20px;
 padding: -20px;
}
.swal-button,
.swal-text{
 font-size: 20px;
}














.lineWidthRange {
 visibility: visible;
 width: 0;
 height: 0;
 border-style: solid;
 border-width: 0 0 25px 200px;
 border-color: transparent transparent #5B5B5B transparent;
}

#lineWidthRange {
 width: 200px;
}


#colorChoose{
width: 32px;
height: 32px;
}
.demo {
 display: flex;
 flex-direction: column;
}

#skip{
 width: 200px;
 height: 30px;
}

.singleStart,
#rainbowColor,
#getQuestion{

  display: inline-block;
  padding: 10px 10px;
  font-size: 26px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: 	#8282FF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px #999;
  width: 180px;
height: 40px;
 color: #000000;  /*   need check */
 font-family: 'Kalam', Verdana;  /*   need check */
 font-weight: 600;  /*   need check */

}
#getQuestion{
  margin-left: auto;
}
.singleTopDiv{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 30px;
}

.time{
  top: 100px;
  left: 180px;
  position: absolute;
  color: #000000;  /*   need check */
  font-family: 'Kalam', Verdana;  /*   need check */
  font-weight: 600;  /*   need check */
}
.time5{
  right: 30px;
  top: 10px;
  position: absolute;
  color:red;  /*   need check */
  font-family: 'Kalam', Verdana;  /*   need check */
  font-weight: 600;  /*   need check */
}
.timePlaying{
  right: 30px;
  top: 10px;
  position: absolute;
  color: #000000;  /*   need check */
  font-family: 'Kalam', Verdana;  /*   need check */
  font-weight: 600;  /*   need check */
}
.timeSingle{
  top: 100px;
  left: 105px;
  position: absolute;
  color: #000000;  /*   need check */
  font-family: 'Kalam', Verdana;  /*   need check */
  font-weight: 600;  /*   need check */
}
.time5{
  right: 30px;
  top: 10px;
  position: absolute;
  color:red;  /*   need check */
  font-family: 'Kalam', Verdana;  /*   need check */
  font-weight: 600;  /*   need check */
}
.timePlaying{
  right: 30px;
  top: 10px;
  position: absolute;
  color: #000000;  /*   need check */
  font-family: 'Kalam', Verdana;  /*   need check */
  font-weight: 600;  /*   need check */
}

.singleStart{
  background-color: #4F4FFF;
  margin-left: auto;
}
#rainbowColor:hover {background-color: #4F4FFF}
#getQuestion:hover {background-color: #4F4FFF}

.singleStart:active,
#rainbowColor:active,
#getQuestion:active {
  background-color: #4F4FFF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.draw {
 border: 1px solid #999;
 position: absolute;
}

#join{
 font-size: 20px;
 margin-top: 2%;
 margin-left: 2%;
}



#colorView {
 border: 1px solid #999;
 width: 100px;
 border-radius: 15px;
 background-color: red;
}

#questionData {
 max-width: 40%;
 display: flex;
 justify-content: space-between;

}

#question {
 
 width: 200px;
 height: 50px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 justify-content: center; 
 align-items: center; 
 display: flex; 
 flex-direction: column;
 color: #000000;  /*   need check */
 font-family: 'Kalam', Verdana;  /*   need check */
 font-weight: 600;  /*   need check */
 font-size: 1.5rem;
}
.question{
  font-size: 1.5rem;
  width: 100px;
  height: 50px;
  border: 1px solid #999;
  justify-content: center; 
  align-items: center; 
  display: flex; 
  flex-direction: column;
  color: #000000;  /*   need check */
  font-family: 'Kalam', Verdana;  /*   need check */
  font-weight: 600;  /*   need check */
  /* border-radius: 5px;
  border-width:5px; 
  border-color:#939699; */
}

.gameMsg{
 font-size: 28px;
 border: 1px solid #999;
 width: 100px;
 height: 50px;
}

.mainPart,
.playerPart,
.rankPart{
border: 1px solid rgb(201, 205, 209);
/* margin:  1%; */
}

.container{
width: 100%;
}

.userPhoto,
.hostPhoto,
.gamerPhoto,
.userinfoPhoto{
width: 100px;
height: 100px;
object-fit: cover;

}

.gamerPhoto{
 margin: 0 auto;
}

.row{
justify-content: space-between;
}
.rankPart{
flex-grow: 1;
}

.room{
padding: 2%;
justify-content:flex-start;
display: flex;
}

.tableDiv{
/* border: 1px solid #999; */
height: 400px;
overflow: scroll;
/* margin-right: 0%; */
position: relative;
}

.draw {
border: 1px solid #999;

position: absolute;
}

.table{
align-items: center;
justify-content: center;
}




 
 .container{
  width: 100%;
 }


 .hostPhoto,
 .gamerPhoto,
 .userinfoPhoto{
  width: 100px;
  height: 100px;
  object-fit: cover;
 }
 


 
 .row{
  justify-content: space-between;

 }
 .rankPart{
  flex-grow: 1;
 }
 

 

 
 
 
 .room{
  padding: 2%;
  justify-content:flex-start;
  display: flex;
 }
 
 .draw {
  border: 1px solid #999;
  /* width: 800px;
  height: 500px; */
  position: absolute;
 }
 
 #addCanvas {
  align-items: center;

  height: 400px;
  display: block;
 }
#dashboardArea{
  margin;
  display: flex;
  position: relative;
}


 /* .main{
   justify-content: center;
   align-items: center;
 } */

 .correct{
   border: 2px solid red;
 }


 #thRank{
  padding-left: 0%;
 }


.hostPhotoMainPage,
.userPhoto{
 width: 100px;
 height: 100px;
 border-radius:50%;
 object-fit: cover;
 padding: 3px;
 border:2px gray solid;
 box-shadow:3px 3px 12px gray;padding:3px
}

 






.hostPhoto,
.gamerPhoto,
.userinfoPhoto{
width: 80px;
height: 80px;
padding: 3px;
box-shadow:3px 3px 12px gray;padding:3px
}

.imgs{
 border: 1px solid #999;
 width: 667px ;
 height: 400px;
 position: relative;
}
 

#imgs{
 border: 1px solid #999;
 width: 667px ;
 height: 400px;
 position: relative;
 z-index: 100;
 padding: 0%;
}
.img{
 top: 0%;
 position: absolute;
 min-width: 667px;
 min-height: 400px;
 max-height: 400px;
}

#footerTop{
  height: 360px;
}

footer{
 z-index: 999;
 position: sticky;

}
footer.index {

 height: 51px;
 background-color: #3f53d9;
 color: #FFFFFF;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 
}

footer .copyright {
  text-align: center;
}


#myTab{
 margin-top: 2%;
}

#main{
 width: 1250px;
background-color: white
}

#text{
  margin-top: 20px;
}

#copyButton{
  border: 1px solid #999;
  margin-left: 20px;
}

#uploadText{
  width: 100px;
  height: 100px;
background-color: khaki;
  border-radius: 50%;
  padding: 3px;
 border:2px gray solid;
 justify-content: center;
 align-items: center;
 display: flex;
 flex-direction: column;
 font-size: 22px;
}
#roomAnsDiv,
#roomMsgDiv{
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
}
#report,


#roomMsg{
  max-width: auto;
  margin-left: auto;
}
#answerCheck{
  width: 300px;
}
#answerCheck::placeholder,
#roomMsg::placeholder{
  width: 300px;
}

#answerCheckButton,
#roomMsgButton{
  background-color: white;
  color: black;
  border: 2px solid #3f53d9; /* Green */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5%;
  width: 150px;
}
#report{
  background-color: white;
  color: black;
  border: 2px solid #3f53d9; /* Green */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5%;
  width: 150px;
}


#answerCheckButton:hover,
#roomMsgButton:hover {
  background-color: #3f53d9; /* Green */
  color: white;
}
#report:hover {
  background-color: #3f53d9; /* Green */
  color: white;
}



.tooli{
  width: 50px;
  height: 50px;
  margin-bottom: -60px;
  cursor: pointer;
  transform: scale(2);
  margin-left: 50px;
}

.tooli:hover{
  text-decoration: none;
  transform: scale(3);
}


.demo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#startDiv{
  display: flex;
}

