@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@font-face {
  font-family: 'cwTeXYen';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
}

/* @import '~@sweetalert2/theme-borderless/borderless.scss'; */

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
/* for fontawesome */
i.fas, i.far {
  user-select: none;
}

/* html{
  height: 100% !important;
  position: relative !important;
} */

body {
  height: 750px;
  /* font-family: 'Chivo', 'cwTeXYen', Verdana;   */
  font-family: 'Josefin Sans', 'cwTeXYen', Verdana;
  position: relative;
 /* font-family: 'Kalam', Verdana;    need check */

}
.padding2{
  background-color: white;
  position: relative;
  height: 750px;
}

.headerDiv{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}
header.index {
 height: 68px;
 width: 100%;
 background-color: #3f53d9;
 display: flex;
 justify-content: space-between;
 align-items: center;
 top: 0;
 position: fixed;
 z-index: 500;
}


header.index .title-container .title {
 display: block;
 text-align: center;
 font-size: 3rem;  /*   need check */
 color: #ffffff;  /*   need check */
 font-family: 'Kalam', Verdana;  /*   need check */
 font-weight: 600;  /*   need check */
 margin-left: 50px;
 margin-top: 20px;
}

#onlineUser{
  display: block;
  text-align: center;
  font-size: 1.4rem;  /*   need check */
  color: #ffffff;  /*   need check */
  font-family: 'Kalam', Verdana;  /*   need check */
  font-weight: 400;  /*   need check */
  margin-left: 50px;
  margin-top: 20px;
}


header.index .member-container {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 18px;
}



#info{
 padding-top: 0px;
 padding-right: 40px;
 padding-left: 30px;
}
header.index .member-container .item:hover {
 color: #FFFFFF;
 cursor: pointer;
}

.signout-btn {
 
  color: #ffffff;
}


.button{
 margin-top: 15px;
}

header.index .member-container .signup-form-btn {
 margin-right: 30px;
 padding: 10px 20px;
 border-radius: 30px;
 background-color: #ffffff;
 transition: linear 0.3s;
 color: #3f53d9;
}

header.index .member-container .signup-form-btn:hover {
 background-color: #E0E0FF;
 cursor: pointer;
}

#exampleModal2{
  color: #ffffff;
}
#exampleModal2,
#createGame,
#singlePlay{
   display: none;
}

 

#red{
  color: red;
}
#orange{
  color: orange;
}
#yellow{
  color: yellow;
}
#green{
  color: green;
}
#blue{
  color: #2234AA;
}
#purple{
  color: purple;
}
#black{
  color: #000000;
}




#redo:hover,
#undo:hover,
#eraser:hover{
  color: blue;
}










.main{
  width: 1250px;
  margin: 0 auto;
 }


.rowMain,
.main{
 margin-top:70px;
}
.homeMainpart{
  margin-top: 80px;
 }

.mainpart{
 margin-top: 10px;
}

.mainPart{
  box-shadow:-5px -5px 35px -10px rgba(0,0,0,0.5)
}
.rankPart{
  box-shadow:-5px -5px 35px -10px rgba(0,0,0,0.5)
}


#mainPart,
#rankShow{
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 0%;
height: 96%;
display: flex;
flex-direction: column;
position: relative;
justify-content: stretch;

}

#homeRankShow{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  
  }
  


.rowMain{
 justify-content: space-between;
 height: 590px;
}
.homeRow{
justify-content: space-between;
height: 950px;
}
 /* align-items: center; */

.mainPart,
.rankPart{
 flex-grow: 1;
 height: 590px
}

.homePart{
  flex-grow: 1;
  height: 700px;
  background-color: white;
  box-shadow:-5px -5px 35px -10px rgba(0,0,0,0.5)
}

.mainTableDiv{
  height: 685px;
  overflow-y: scroll;
 }




.room{
 padding: 2%;
 justify-content:flex-start;
 display: flex;
}


/* #mainPart, */





.draw {
 border: 1px solid #999;
 /* float: left; */
 position: absolute;
}

.tableTitle{
 position: fixed;
}

.hostinfo,
.userinfo,
#info{
 justify-content: center;
 align-items: center;
 position: relative;
}

.userinfo{
  vertical-align: middle;
}

.hostinfo{
 display: flex;
 flex-direction: column;
}
.roomHostInfo{
  align-items: flex-start;
}


.hostinfo:hover .hover{
 display: block;
}

#info:hover .hover{
 display: block;
}
.userinfo:hover .hover{
 display: block;
}
.hover{
 display: none;
}

.hover{
	display: inline-block;
	position: absolute;
	background: #222;
	border-radius: .4em;
	padding: 10px;
	font-size: .85em;
	color: #fff;
}
.hover:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #222;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.thName,
.userName{
  display: none;
  z-index: 49;
  margin-top: 20px;
 }
/* .photoTd{
 position: relative;
} */
.playerName,
.hostName{
  display: none;
  z-index: 49;
  margin-top: -30px;
 }


td{
 font-size: 20px;
 padding: -20px;
}
.swal-button,
.swal-text{
 font-size: 20px;
}














.lineWidthRange {
 visibility: visible;
 
 border-style: solid;
 border-width: 0 0 25px 80px;
 border-color: transparent transparent #5B5B5B transparent;
 margin-top: 16px;
 margin-left: 0%;
}

#lineWidthRange {
 width: 80px;
padding: 0%;
}


#colorChoose{
width: 32px;
height: 32px;
margin-right: 5%;
margin-left: 3%;
}

.lineWidth{
  margin-right: 5%;
margin-left: 3%;
}


#skip{
 width: 200px;
 height: 30px;
}

#start,
#getQuestion{
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: 	#3f53d9;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px #999;
  width: 120px;
  height: 36px;
  z-index: 0;
  color: #ffffff;
}


#rainbowColor{
  display: inline-block;
  padding: 10px 10px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: 	#FF6363;
  border: none;
  border-radius: 30px;
  box-shadow: 0 8px #999;
  width: 120px;
  height: 36px;
  color: #000000;  /*   need check */
  margin-right: 20px;
}

#getQuestion{
  margin-left: auto;
}
.singleTopDiv{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 30px;
}

#answerShow{
  font-size: 42px;
  position: absolute;
  color: #000000;  /*   need check */
  font-size: 28px;
  /* font-family: 'Kalam', Verdana;    need check */
  font-weight: 600;  /*   need check */
  top:5px;
  left:5px
}

.time{
  top: 100px;
  left: 180px;
  font-size: 42px;
  position: absolute;
  color: #000000;  /*   need check */
  /* font-family: 'Kalam', Verdana;    need check */
  font-weight: 600;  /*   need check */
}
.time5{
  right: 30px;
  top: 10px;
  font-size: 42px;
  position: absolute;
  color:red;  /*   need check */
  /* font-family: 'Kalam', Verdana;    need check */
  font-weight: 600;  /*   need check */
}
.timePlaying{
  right: 30px;
  top: 10px;
  font-size: 42px;
  position: absolute;
  color: #000000;  /*   need check */
  /* font-family: 'Kalam', Verdana;    need check */
  font-weight: 600;  /*   need check */
}
.timeSingle{
  top: 100px;
  left: 105px;
  font-size: 42px;
  position: absolute;
  color: #000000;  /*   need check */
  /* font-family: 'Kalam', Verdana;    need check */
  font-weight: 600;  /*   need check */
}
.timeSinglePlaying{
  top: -60px;
  position: absolute;
  font-size: 42px;
  /* font-family: 'Kalam', Verdana;    need check */
  font-weight: 600;  /*   need check */
}
.timePlaying{
  right: 30px;
  top: 10px;
  font-size: 42px;
  position: absolute;
  color: #000000;  /*   need check */
  /* font-family: 'Kalam', Verdana;    need check */
  font-weight: 600;  /*   need check */
}

.singleStart{
  font-size: 42px;
  margin-left: auto;
}
#rainbowColor:hover {background-color: #E00000}
#getQuestion:hover {background-color: #4F4FFF}
.singleStart:hover {background-color: #4F4FFF}

#rainbowColor:active{
  background-color: #E00000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.singleStart:active,
#getQuestion:active {
  background-color: #4F4FFF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.draw {
 border: 1px solid #999;
 position: absolute;
}

#join{
 font-size: 20px;
 margin-top: 2%;
 margin-left: 2%;
}






#question {

 height: 50px;
 display: flex;
 justify-content: space-around;
 align-items: center;
 justify-content: center; 
 align-items: center; 
 display: flex; 
 flex-direction: column;
 color: #000000;  /*   need check */
 /* font-family: 'Kalam', Verdana;    need check */
 font-weight: 600;  /*   need check */
 font-size: 1.5rem;
}
.question{
  font-size: 1.5rem;

  height: 50px;

  justify-content: center; 
  align-items: center; 
  display: flex; 
  flex-direction: column;
  color: #000000;  /*   need check */
  /* font-family: 'Kalam', Verdana;    need check */
  font-weight: 600;  /*   need check */
  /* border-radius: 5px;
  border-width:5px; 
  border-color:#939699; */
}

.msgTd{
  display: flex;
  flex-direction: row;
  height: 86px;
}

.gameMsg{
 font-size: 28px;
 border: 1px solid #999;
 width: 100px;
 height: 50px;
}










.room{
padding: 2%;
justify-content:flex-start;
display: flex;
}

.tableDiv{
/* border: 1px solid #999; */
/* height: 400px; */
/* overflow-y: scroll; */
/* margin-right: 0%; */
position: absolute;
bottom: 0px;
margin: 0px;
z-index: 1059;
}

.tableDivSingle{
  /* border: 1px solid #999; */
  height: 550%;
  overflow-y: scroll;
  /* margin-right: 0%; */
  position: relative;
  }
.tableDivGame{
  height:100%;
overflow-y: scroll;
position: relative;
}
.tableDivGameHost{
  height: 150px

}
.draw {
border: 1px solid #999;

position: absolute;
}

.table{
align-items: center;
justify-content: center;
margin: 0%;
z-index: 1059;
}

.tbodyPlayerList{
  display: flex;
  flex-direction: row;
}

 
 .chat-container{
  width: 100%;

  padding: 0px;
 }

.tbodyHost{
  z-index: 1059;
}

 

 
 
 
 .room{
  padding: 2%;
  justify-content:flex-start;
  display: flex;
 }
 
 .draw {
  border: 1px solid #999;
  /* width: 800px;
  height: 500px; */
  position: absolute;
 }
 
 #addCanvas {
  align-items: center;

  height: 400px;
  display: block;
 }
#dashboardArea{
  margin;
  display: flex;
  position: relative;
}


 /* .main{
   justify-content: center;
   align-items: center;
 } */
 .msg{
  padding: 0%;
}

/* .correct {
  position: relative;
}
.correct:before {
  content : "";
  display: block;
  position: absolute;
  background-image: url("./images/correctGreen.png") !important;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 100% 50% ;
  opacity:0.6;
} */

.noRoom{
  display: block;
}
.haveRoom{
  display: none;
}

 .correct{  
   background-color: hsla(0,0%,100%,0.70);
   background-blend-mode: overlay;
   background-image: url("./images/correctGreen.png") !important;
   background-size: 50px 50px;
   background-repeat: no-repeat;
   background-position: 100% 50% ;
   /* opacity:0.6; */
 }
 .inCorrect{
  background-color: hsla(0,0%,100%,0.70);
  background-blend-mode: overlay;
  background-image: url("./images/inCorrect.png") !important;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 100% 50% ;
  /* opacity:0.6; */
}


 #thRank{
  padding-left: 0%;
 }

.userPhotoHome,
#userPhotoSignIn{
  margin-top: 20px;
}


.hostPhotoMainPage,
.userPhoto{
 width: 80px;
 height: 80px;
 border-radius:50%;
 object-fit: cover;
 margin-top: 20px;
 /* padding: 3px;
 border:2px gray solid;
 box-shadow:3px 3px 12px gray;padding:3px */
}
.hostPhotoMainPage{
  margin-top: 5px;
  margin-left: 5px;
}

.scopeTd{
  display: flex;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
}

.userinfoPhoto{
width: 70px;
height: 70px;
border-radius:50%;
object-fit: cover;
/* padding: 3px; */
/* box-shadow:3px 3px 12px gray;
padding:3px */
}

.hostPhoto,
.gamerPhoto{
  width: 60px;
  height: 60px;
  border-radius:50%;
  object-fit: cover;
}
.singleGamerPhoto{
  width: 70px;
  height: 70px;
  border-radius:50%;
  object-fit: cover;
}

.imgs{
 border: 1px solid #999;
 width: 700px ;
 height: 400px;
 position: relative;
 display: flex;
 flex-direction: column;
}
 

#imgs{
 border: 1px solid #999;
 width: 700px ;
 height: 400px;
 position: relative;
 z-index: 100;
 padding: 0%;
}
.img{
 top: 0%;
 position: absolute;
 min-width: 700px;
 min-height: 400px;
 max-height: 400px;
 z-index: 10;
}



footer{
 z-index: 10;
 position: absolute;
 bottom: 0px;
}


footer.index {
 height: 41px;
 background-color: #3f53d9;
 color: #FFFFFF;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
}
footer.footerHide {
  height: 41px;
  background-color: #3f53d9;
  color: #FFFFFF;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;

 }

footer .copyright {
  text-align: center;
}


#myTab{
 margin-top: 2%;
}

#main{
 width: 1250px;
background-color: white;
}

#text{
  margin-top: 20px;
}

#copyButton{
  border: 1px solid #999;
  margin-left: 20px;
}

#uploadText{
  width: 80px;
  height: 80px;
  margin-top: 20px;
background-color: khaki;
  border-radius: 50%;
 justify-content: center;
 align-items: center;
 display: flex;
 flex-direction: column;
 font-size: 22px;

}
#roomAnsDiv,
#roomMsgDiv{
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
}
#roomAnsDiv{
  margin-top: 3%;
}


#roomMsg{
  max-width: auto;
  margin-left: auto;
}
#answerCheck{
  width: 300px;
}
#answerCheck::placeholder,
#roomMsg::placeholder{
  width: 300px;
}

#questionData {
  width: 900px;
  display: flex;
  align-items: center;
  height: 80px;
 }
.startOptionButton,
.like,
#report,
#answerCheckButton{
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: 	#3f53d9;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px #999;
  width: 120px;
  height: 36px;
  z-index: 0;
  color: #ffffff;
}

#quickStart{
  width: 200px;
}
.startOptionButton:hover,
.like:hover,
#report:hover,
#answerCheckButton:hover{
  background-color: #4F4FFF
}
.startOptionButton:active,
.like:active,
#report:active,
#answerCheckButton:active {
  background-color: #4F4FFF;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.like{
 margin-left: auto;
}
#answerCheckButton{
  margin-left: 10px;
 }
#report{}



.likeClicked{
  background-color:#3f53d9;
  color:white;
  border: 2px solid #3f53d9; /* Green */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5%;
  width: 150px;
}
.colNameHost,
.gamerNameHost,
.colNameHost,
.nameHost,
.colName,
.gamerName{
padding: 0%;
width: 142px !important;
white-space: nowrap;
overflow:hidden;
text-overflow:ellipsis;

}


.colScore,
.gamerScore{
  padding: 0%;
  width: 75px;

}
.gamerPhotoTd{
  width: 80px;
  margin: 0%;
}
.colPhotoHost,
.colPhoto{
  width: 96px;
  margin: 0%;
}

.msgTd,
.colGuess,
.colHeartHost{
  padding: 0%;
  width: 170px;
  overflow-wrap: break-word; 
  word-wrap:break-word;
}



.tooli{
  width: 50px;
  height: 50px;
  margin-bottom: -80px;
  cursor: pointer;
  transform: scale(2);
  margin-left: 10px;
}

.tooli:hover{
  text-decoration: none;
}


.demo{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin-top: 10px;
}


#startDiv{
  display: flex;
  width: 100%;
}


/* 
.userAnswerArea{
  height: 80px;
  width: 200px;
  background-color: violet;
  position: absolute;

  z-index: 1000;
} */

.playerListUserinfo{
  display: flex;
  flex-direction: row;

  align-items: center; 
  width: auto;
  border-bottom:solid 1px teal;
}
.playerListName{

}
.playerListName,
.playerListScore,
.playerListPhoto,
.playerListMsg{
  /* border: solid 1px black; */
  height: 80px;
  width: 100px;
  overflow : hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
  padding-right: 3%;
align-items:flex-start

}






.chat{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

.img-circle{
  height: 50px;
  width: 50px;
}

th{
  font-size: 20px;
}

.panel-heading{
  background-color: #3f53d9 !important;
  border-color:  #3f53d9 !important;
}



.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  -webkit-transition: background-position 1s steps(28);
  transition: background-position 1s steps(28);
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.heart.is-active {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  background-position: -2800px 0;
}

.stage {
  margin-left: auto;
}

.swal2-confirm{
  background-color: #3f53d9 !important;
}


#startOption{
display: flex;
flex-direction: column;
}

.optionInputButton{
  display: flex;
flex-direction: row;
}

.fa-heart{
  color: red !important;
}




@media(min-width: 1281px) {

  .rowMain,
.main{
 margin-top:140px;
}
  /* #footerTop{
    height: 220px;
  } */
  body {
    height: 990px !important;
  }

  .homePart{
    flex-grow: 1;
    height: 965px;
    background-color: white;
    box-shadow:-5px -5px 35px -10px rgba(0,0,0,0.5)
  }
  
  .mainTableDiv{
    height: 940px;
    overflow-y: scroll;
   }
  .padding2{
  background-color: white;
  position: relative;
  height: 990px;
}
.container{
  bottom: 2% !important;
}
  
}