@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@font-face {
  font-family: 'cwTeXYen';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.woff) format('woff'),
       url(//fonts.gstatic.com/ea/cwtexyen/v3/cwTeXYen-zhonly.ttf) format('truetype');
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}
/* for fontawesome */
i.fas, i.far {
  user-select: none;
}

body {
  /* font-family: 'Chivo', 'cwTeXYen', Verdana;   */
  font-family: 'Josefin Sans', 'cwTeXYen', Verdana;
  position: relative;
}

header.index {
  height: 100px;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  position: fixed;
  z-index: 999;
}

header.index.bottom-shadow {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}

header.index .title-container .title {
  display: block;
  text-align: center;
  font-size: 2rem;
  color: #000000;
  font-family: 'Kalam', Verdana;
  font-weight: 700;
}

header.index .member-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

header.index .member-container .item {
  margin-right: 30px;
}

header.index .member-container .item:hover {
  color: #3f53d9;
  cursor: pointer;
}

header.index .member-container .signup-form-btn {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #3f53d9;
  transition: linear 0.3s;
  color: #FFFFFF;
}

header.index .member-container .signup-form-btn:hover {
  background-color: #2234AA;
  cursor: pointer;
}

.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer.index {
 height: 100px;
 background-color: #3f53d9;
 color: #FFFFFF;
 display: flex;
 justify-content: center;
 align-items: center;
}

footer .copyright {
  text-align: center;
}

.page-not-found-container {
  width: 100%;
  height: calc(100vh - 100px);
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-not-found-container .title {
  text-align: center;
  font-size: 10rem;
  margin-bottom: -50px;
}

.page-not-found-container .title i {
  font-size: 8rem;
  margin: 0 -27px;
}

.page-not-found-container .text {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.page-not-found-container .back-home {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin-left: 185px;
  margin-top: 30px;
}

.page-not-found-container .back-home i {
  width: 20px;
  height: 20px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3px;
  margin-right: 5px;
}

.page-not-found-container .back-home span {
  text-decoration: underline;
}
  
.index-container {
  width: 100%;
}

.index-container .intro-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 100px;
  background-color: #FFFFFF;
}

.index-container .intro-container .title {
  font-size: 4rem;
  font-weight: 700;
}

.index-container .intro-container .title .letter {
  display: inline-block;
}

.index-container .intro-container .subtitle {
  text-align: center;
  font-size: 18px;
  margin: 20px 0 40px;
}

.index-container .intro-container .signup-form-btn {
  min-width: 200px; 
}

.index-container .intro-container .image-s img {
  max-width: 50px;
}

.index-container .intro-container .image-l img {
  max-width: 100px;
}

.index-container .intro-container .top-left {
  position: absolute;
  left: 150px;
  top: 50px;
}

.index-container .intro-container .top-right {
  position: absolute;
  right: 150px;
  top: 50px;
}

.index-container .intro-container .bottom-left {
  position: absolute;
  left: 100px;
  bottom: 150px;
}

.index-container .intro-container .bottom-right {
  position: absolute;
  right: 100px;
  bottom: 150px;
}

.index-container .demo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.index-container .demo-image {
  width: 80%;
  height: 100%;
  padding: 10px 26px 10px 0;
}

.index-container .demo-image .image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.index-container .demo-image .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1),
              0 10px 5px -5px rgba(0, 0, 0, 0.3);
}

.index-container .demo-image .image-container img.now-display {
  opacity: 1;
  transition: opacity 1s;
}

.index-container .demo-navbar {
  width: 20%;
  height: 100%;
  padding: 10px 0;
}

.index-container .demo-navbar .demo-item {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding: 20px 30px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(150, 150, 150, 0.1);  
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.index-container .demo-navbar .demo-item.now-display {
  background-color: rgba(150, 150, 150, 0.3);
}

.index-container .demo-navbar .demo-item:hover {
  color: #3f53d9;
  cursor: pointer;
}

.index-container .demo-navbar .demo-item .header {
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10px;
}

.index-container .demo-navbar .demo-item .progress-bar-container {
  width: 100%; 
  position: absolute; 
  left: 0; 
  bottom: 0;
}

.index-container .demo-navbar .demo-item .progress-bar-container .progress-bar {
  width: 0%;
  height: 3px; 
  background-color: #3f53d9;
  transition: all 0s;
}

.index-container .feature-container {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-container .feature-container .title {
  text-align: center;
  font-size: 2rem;
}

.index-container .feature-container .subtitle {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}

.index-container .feature-item-container {
  width: 100%;
  height: 400px;
  display: flex;
}

.index-container .feature-item-container .feature-item {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.index-container .feature-item-container .feature-item .icon-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #3f53d9;
  transition: all 0.5s;
  background-color: rgba(150, 150, 150, 0.1);
}

.index-container .feature-item-container .feature-item .icon-container i {
  font-size: 3rem;
  color: #3f53d9;
}

.index-container .feature-item-container .feature-item .icon-container:hover {
  background-color: #3f53d9;
  transition: all 0.3s;
}

.index-container .feature-item-container .feature-item .icon-container:hover i {
  color: #FFFFFF;
  transition: all 0.3s;
}

.index-container .feature-item-container .feature-item .feature-title {
  font-size: 24px;
  margin: 10px 0;
  text-align: center;
}

.index-container .feature-item-container .feature-item .feature-text {
  font-size: 1rem;
  text-align: center;
}

.index-container section.top {
  height: 600px;
  min-height: 600px;
  padding-top: 100px;
}

.index-container section {
  width: 100%;
  height: calc(100vh - 100px);
  min-height: 550px;
  background-color: #FFFFFF;
  padding: 0 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 750px;
  min-width: 1200px;
  max-width: 1500px;
}

.index-container section.bottom {
  height: calc(100vh - 200px);
  min-height: 500px;
}

.index-container section .btn {
  padding: 10px 30px;
  text-align: center;
  font-size: 18px;
  border-radius: 50px;
  background-color: #3f53d9;
  color: #FFFFFF;
  transition: linear 0.3s;
}

.index-container section .btn:hover {
  background-color: #2234AA;
  cursor: pointer;
}

@media screen and (min-width:1600px) {
  .index-container section.top {
    padding: 100px 250px 0;
  }
  .index-container .feature-container .subtitle {
    margin: 20px 0 50px;
  }
}

@media screen and (min-width:1800px) {
  .index-container section {
    max-width: 1750px;
  }
  .index-container .feature-item-container .feature-item {
    padding: 0 30px;
  }
}

/* @media screen and (max-width:1400px) {
  .index-container section {
    min-height: 400px;
    max-height: calc(100vh - 100px);
    padding: 0 50px;
  }
  .index-container .demo-container {
    max-width: 1175px;
    min-width: 1175px;
    max-height: 600px;
    min-height: 600px;
  }
} */

.index-container .form-container,
.dashboard-container .form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.index-container form,
.dashboard-container form {
  width: 90vw;
  max-width: 500px;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-top: 100px;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

.index-container form .title,
.dashboard-container form .title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.index-container form .form-group,
.dashboard-container form .form-group {
  margin: 0;
  position: relative;
}

.index-container form .form-group i,
.dashboard-container form .form-group i {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 45%;
  left: 20px;
  transform: translate(0, -50%);
  color: #a9a9a9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-container form .form-group input,
.dashboard-container form .form-group input {
  height: 60px;
  font-size: 1.5rem;
  padding-left: 60px;
  border-radius: 0;
}

.index-container form .form-group input.one,
.dashboard-container form .form-group input.one {
  border-radius: 5px;
}

.index-container form .form-group input.top,
.dashboard-container form .form-group input.top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.index-container form .form-group input.bottom,
.dashboard-container form .form-group input.bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.index-container form .form-group input:not(.bottom):not(.one),
.dashboard-container form .form-group input:not(.bottom):not(.one) {
  border-bottom: 0;
}

.index-container form button,
.dashboard-container form button {
  height: 60px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #3f53d9;
  color: #FFFFFF;
  transition: linear 0.3s;
  font-size: 1.5rem;
}

.index-container form button:hover,
.dashboard-container form button:hover {
  background-color: #2234AA;
  color: #FFFFFF;
  cursor: pointer;
}

.room-container {
  width: 100%;
  max-width: 1536px;
  height: 100vh;
  max-height: 750px;
  min-height: 650px;
  background-color: #FFFFFF;
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.room-navbar {
  display: flex;
  padding: 0 10px;
  user-select: none;
}

.room-navbar .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 20px;
  z-index: 9999;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

.room-navbar .header .title {
  font-size: 2rem;
  font-family: 'Kalam', Verdana;
  font-weight: 700;
  color: #000000;
  margin: 0 0.5rem;
}

.room-navbar .header .room-title {
  font-size: 18px;
  margin: 0 10px;
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.room-navbar .header .room-title .edit-btn:hover {
  color: #3f53d9;
  cursor: pointer;
}

.room-navbar .header .room-title input {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0.1);
}

.room-navbar .header .room-title input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.3);
}

.whiteboard-toolbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9999;
  flex-direction: column;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
}

.whiteboard-toolbox i, .chatbox-toolbox i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 5px solid rgba(0, 0, 0, 0);
  margin: 0 5px;
  position: relative;
  color: #000000;
}

.new-msg-tooltip,
.new-call-tooltip {
  width: 40px;
  height: 40px;
  position: absolute;
}

.whiteboard-toolbox i:hover, .chatbox-toolbox i:hover {
  cursor: pointer;
  color: #3D53D9;
}

.whiteboard-toolbox i.undo.undo-disabled {
  opacity: 0.3;
}

.whiteboard-toolbox i.undo.undo-disabled:hover {
  cursor: not-allowed;
}

.whiteboard-toolbox i.pen:hover .pen-container {
  visibility: visible;
}

.whiteboard-toolbox .pen-container {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translate(0, -50%);
  z-index: 9999;  
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
  transition: visibility, linear 0.2s;
  visibility: hidden;
}

.whiteboard-toolbox .pen-container .color-btn-container {
  display: flex;
  justify-content: start;
}

.whiteboard-toolbox .pen-container .color-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid	#E0E0E0	;
  margin: 0 5px;
}

.whiteboard-toolbox .pen-container .color-btn:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.8);
}

.whiteboard-toolbox .pen-container .now-color {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 1.0);
}

.whiteboard-toolbox .pen-container .width-btn-container input {
  width: 100%;
}

.whiteboard-toolbox .pen-container .value-range-display {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 25px 200px;
  border-color: transparent transparent #5B5B5B transparent;
}

.whiteboard-toolbox i.shape:hover .shape-container {
  visibility: visible;
}

.whiteboard-toolbox .shape-container {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translate(0, -50%);
  z-index: 9999;  
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
  transition: visibility, linear 0.2s;
  visibility: hidden;
}

.whiteboard-toolbox i.add-text:hover .text-container {
  visibility: visible;
}

.whiteboard-toolbox .text-container {
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translate(0, -50%);
  z-index: 9999;  
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
  transition: visibility, linear 0.2s;
  visibility: hidden;
}

.whiteboard-toolbox .text-container .size {
  font-size: 18px;
  color: #000000;
}

.chatbox-toolbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  bottom: 20px;
  z-index: 9999;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
}

.whiteboard-chatbox-container {
  display: flex;
  height: 100vh;
  min-height: 650px;
  max-height: 750px;
}

.room-container .whiteboard {
  width: 100%;
  height: 100%;
  position: relative;
}

.whiteboard::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.whiteboard::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.whiteboard::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(123, 224, 173, 0.7);
}

.whiteboard canvas.main,
.whiteboard canvas.shape,
.whiteboard canvas.all,
.canvas-container,
.canvas-container .day-container,
.whiteboard canvas.layer {
  position: absolute;
  top: 0;
  left: 0;
}

.whiteboard canvas.shape {
  z-index: 1;
}

.canvas-container {
  z-index: 0;
}

.canvas-container, .canvas-container-day, .whiteboard canvas.all {
  pointer-events: none;
}

.whiteboard .image-whiteboard-preview-container, 
.whiteboard .text-whiteboard-preview-container, 
.whiteboard .pin-whiteboard-preview-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1550px;
  height: 750px;
  overflow: hidden;
}

.whiteboard .image-whiteboard-preview-container img {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border: 3px dashed #000000;
  max-width: 70%;
  max-height: 80%;
}

.whiteboard .image-whiteboard-preview-container img:hover {
  cursor: move;
}

.whiteboard .text-whiteboard-preview-container input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;  
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0);
  cursor: move;
}

.whiteboard .pin-whiteboard-preview-container i.pin {
  position: absolute;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #3f53d9;
  border-radius: 50%;
  border-style: dashed;
}

.whiteboard .pin-whiteboard-preview-container i.pin:hover {
  cursor: move;
}

.whiteboard .pin-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 1550px;
  height: 750px;
  overflow: hidden;
  /* pointer-events: none; */
}

.whiteboard .pin-container .pin, 
.history-whiteboard-pin-container .pin {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #3f53d9;
  pointer-events: auto;
}

.whiteboard .pin-container .pin:hover, 
.history-whiteboard-pin-container .pin:hover {
  cursor: pointer;
}

.whiteboard .pin-container .pin .pin-text, 
.history-whiteboard-pin-container .pin .pin-text {
  font-size: 1.5rem;
  font-family: 'Josefin Sans', 'cwTeXYen', Verdana;
  position: absolute;
  top: 0;
  left: calc(100% + 5px);
}

.whiteboard .pin-container .pin .pin-text textarea, 
.history-whiteboard-pin-container .pin .pin-text textarea {
  width: 200px;
  height: 200px;
  resize: none;
  background-color: #f9ee8a;
}

.whiteboard .pin-container .pin .pin-text .remove-btn {
  position: absolute;
  top: 45px;
  left: -45px;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-whiteboard-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
}

.history-whiteboard-container .close-btn {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 3rem;
  padding: 30px;
  color: #FFFFFF;
}

.history-whiteboard-container .history-whiteboard-list {
  width: 20%;
  min-width: 300px;
  height: 100%;
  padding: 20px 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.history-whiteboard-container .history-whiteboard-list img {
  display: block;
  width: 90%;
  margin: 10px auto;
}

.history-whiteboard-container .history-whiteboard-list img:hover {
  cursor: pointer;
}

.history-whiteboard-container .history-whiteboard {
  width: 80%;
  max-width: 1550px;
  height: 80%;
  max-height: 750px;
  overflow: auto;
  margin: 100px 50px 50px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-whiteboard-container .history-whiteboard img {
  position: absolute;
  top: 0;
  left: 0;
}

.history-whiteboard-container .history-whiteboard .no-whiteboard-title {
  font-size: 2rem;
  color: #FFFFFF;
}

.whiteboard .trace, .whiteboard .mouse-trace {
  position: absolute;
  top: 0;
  left: 0;
  width: 1550px;
  height: 750px;
  pointer-events: none;
  overflow: hidden;

  background-color: rgba(150, 150, 150, 0.05);
}

.whiteboard .trace .author {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 0;
  height: 0;
  border: 2px dashed rgba(16, 168, 160, 0.7);
}

.whiteboard .trace .author span {
  position: absolute;
  bottom: -3px;
  right: 10px;
  padding: 0 5px;
  transform: translateY(100%);
  display: inline-block;
  background-color: rgba(16, 168, 160, 0.7);
  white-space: nowrap;
}

.whiteboard .mouse-trace .author {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid rgba(248, 160, 179, 0.7);
}

.whiteboard .mouse-trace .author span {
  position: absolute;
  top: -3px;
  left: 0px;
  padding: 0 5px;
  transform: translateY(-100%);
  display: inline-block;
  background-color: rgba(248, 160, 179, 0.7);
  white-space: nowrap;
}

.room-container .chatbox {
  width: 400px;
  height: 100%;
  background-color: #FFFFFF;
  position: relative;  
  position: absolute;
  right: -400px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  transition: right 0.5s;
  z-index: 2;
}

.room-container .chatbox.display {
  right: 0;
  transition: right 0.5s;
}

.room-container .chatbox .header {
  width: 100%;
  height: 10%;
  padding: 10px 20px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-container .chatbox .header i:hover {
  cursor: pointer;
  color: #3D53D9;
}

.chatbox-toolbox .copy-link {
  position: relative;
}

.chatbox-toolbox .copy-link .copy-invite-url-msg {
  position: absolute;
  top: -75px;
  left: 50%;
  font-size: 1rem;
  transform: translateX(-50%);
  text-align: center;
  z-index: 9999;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  color: #FFFFFF;
  opacity: 0;
}

.show-hide {
  animation: show_hide 2s ;
}

@keyframes show_hide{
    0%{ opacity: 0;}
    10%{ opacity: 1;}
    100%{ opacity: 0;}
} 

.room-container .user-list {
  width: 100%;
  max-height: 80%;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bolder;
  overflow-y: auto;
  position: absolute;
  top: 10%;
  background-color: #FFFFFF;
  z-index: 999;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: -400px;
  opacity: 0;
  transition: right 0.5s, opacity 0.5s;
}

.room-container .user-list.display {
  right: 0;
  opacity: 1;
  transition: right 0.5s, opacity 0.5s;
}

.room-container .user-list .title {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.room-container .user-list .list-container .user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.room-container .user-list .list-container .status {
  display: inline-block;
  width: 1rem;  
  height: 1rem;
  border-radius: 50%;
  background-color: #79FF79;
  margin-right: 20px;
}

.user-list::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.user-list::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.user-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(123, 224, 173, 0.7);
}

.room-container .chatbox .msg-container {
  height: 80%;
  overflow-y: auto;
  padding-top: 10px;
}

.msg-container::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.msg-container::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.msg-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(0, 0, 0, 0.1)
}

.room-container .chatbox .msg-container img:hover {
  cursor: pointer;
}

.room-container .chatbox .msg-container .msg-self,
.room-container .chatbox .msg-container .msg-other {
  max-width: 60%;
  margin-right: auto;
  word-wrap: break-word;
  margin-bottom: 5px;
  margin-left: 20px;
  padding: 5px 20px;
  border-radius: 5px;
}

.room-container .chatbox .msg-container .msg-self {
  background-color: rgba(63, 83, 217, 0.3);
}

.room-container .chatbox .msg-container .msg-other {
  background-color: rgba(0, 0, 0, 0.05);
}

.room-container .chatbox .msg-container .msg-notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.room-container .chatbox .msg-container .msg-notification .msg-notification-container {  
  min-width: 60%;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.room-container .chatbox .msg-container .msg-notification .msg-notification-container .whiteboard-image {
  max-width: 100%;
  padding: 10px;
}

.room-container .chatbox .msg-container .msg-self,
.room-container .chatbox .msg-container .msg-other {
  position: relative;
}

.room-container .chatbox .msg-container .msg-container span {
  font-size: 0.8rem;
}

.room-container .chatbox .msg-container .time-self,
.room-container .chatbox .msg-container .time-other {
  width: 100px;
  text-align: left;
  position: absolute;
  right: -110px;
  bottom: 0px;
}

.room-container .chatbox .msg-container .image-msg {
  max-width: 100%;
  margin-bottom: 10px;
}

.room-container .chatbox .send-msg {
  height: 10%;
  min-height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}

.room-container .chatbox .send-msg textarea {
  width: 90%;
  height: 70%;
  resize: none;
  border-radius: 5px;  
  border: none;
  padding: 0 70px 0 10px;
  margin: 0 auto;
  overflow-x: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.room-container .chatbox .send-msg textarea:focus {
  outline: none;
}

.room-container .chatbox .send-msg textarea::placeholder {
  padding-top: 15px;
}

.room-container .chatbox .send-msg textarea:focus::placeholder {
  color: rgba(0, 0, 0, 0);
}

.room-container .chatbox .send-msg .btn-container {
  position: absolute;
  right: calc(5% + 5px);
  display: flex;
}

.room-container .chatbox .send-msg i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 5px;
  position: relative;
  color: #000000;
}

.room-container .chatbox .send-msg i:hover {
  color: #3f53d9;
  cursor: pointer;
}

.room-container .chatbox .send-msg input[name="image"] {
  display: none;
}

.room-container .chatbox .send-msg .preview-container {
  left: 10px;
  bottom: 10px;
  position: absolute;
  background-color: #FFFFFF;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px; 
  padding: 5px;
}

.room-container .chatbox .send-msg .preview-container img {
  max-width: 300px;
  max-height: 300px;
}

.room-container .chatbox .send-msg .preview-container .option-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbox-large-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.chatbox-large-image-container img {
  max-width: 80%;
  max-height: 80%;
  margin-top: 5%;
}

.chatbox-large-image-container .close-btn {
  position: absolute;
  top: 20px;
  right: 100px;
  font-size: 3rem;
  color: #FFFFFF;
}

.call-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
  transition: padding 0.5s;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  align-content: flex-start;
}

.call-container.narrow {
  padding-right: 400px;
  transition: padding 0.5s;
}

.video-container {
  width: 200px;
  height: 150px;
  margin: 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.video-container .title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  padding: 0px 10px;
}

.wait-call-spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.wait-call-spinner-container .title {
  font-size: 2rem;
}

.dashboard-container {
  width: 100vw;
  min-width: 650px;
  height: 100vh;
  min-height: 500px;
  display: flex;
  background-color: #f2f2f2;
}

.dashboard-container .fill-bar {
  width: 50px;
  min-width: 50px;
  background-color: #4860AD;
}

.dashboard-navbar {
  width: 200px;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dashboard-navbar .title-container {
  margin-bottom: 20px;
}

.dashboard-navbar .title-container .title {
  font-size: 2rem;
  color: #000000;
  font-family: 'Kalam', Verdana;
  font-weight: 700;
  text-align: center;
}

.dashboard-navbar .user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.dashboard-navbar .user-info img {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.dashboard-navbar .user-info .name {
  font-size: 18px;
  height: 24px;
}

.dashboard-navbar .navbar-item {
  margin-bottom: 20px;
  padding-left: 5px;
}

.dashboard-navbar .navbar-item:hover {
  color: #3f53d9;
  cursor: pointer;
}

.dashboard-navbar .navbar-item.bottom-border {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.dashboard-navbar .navbar-item .starred-room,
.dashboard-navbar .navbar-item .all-room,
.dashboard-navbar .navbar-item .signout-btn {
  display: flex;
}

.dashboard-navbar .navbar-item .starred-room i,
.dashboard-navbar .navbar-item .all-room i,
.dashboard-navbar .navbar-item .signout-btn i {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding-right: 5px;
  padding-bottom: 3px;
}

.dashboard-navbar .navbar-item.last {
  margin-top: auto;
}

.dashboard-container .dashboard {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dashboard-container .dashboard .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-container .dashboard .header .title {
  font-size: 2rem;
}

.dashboard-container .dashboard .header select {
  padding: 10px;
  margin-right: 50px;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0.3);
}

.dashboard-container .dashboard .header select option {
  background-color: #f2f2f2;
}

.dashboard-container .dashboard .create-join-room {
  padding: 20px 0;
  display: flex;
}

.dashboard-container .dashboard .create-join-room .item {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #3f53d9;
  margin-right: 20px;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 50px 0 10px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}

.dashboard-container .dashboard .create-join-room .item:hover {  
  background-color: #2234AA;
  cursor: pointer;
}

.dashboard-container .dashboard .create-join-room .item:hover .spinner {
  background-color: #2234AA;
}

.dashboard-container .dashboard .create-join-room .item i {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container .dashboard .create-join-room .spinner {
  width: 40px;
  height: 40px;
  background-color: #3f53d9;
}

.dashboard-container .dashboard .create-join-room .item .title {
  margin-top: auto;
}

.dashboard-container .dashboard .dashboard-rooms {
  min-height: 220px;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.dashboard-container .dashboard .dashboard-rooms .room {
  width: 320px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
}

.dashboard-container .dashboard .dashboard-rooms::-webkit-scrollbar
{
	width: 6px;
  background-color: #f2f2f2;
}

.dashboard-container .dashboard .dashboard-rooms::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(0,0,0,0.1);
  
  border-top: 10px solid #f2f2f2;
  border-bottom: 20px solid #f2f2f2;
  background-clip: padding-box;
}

.dashboard-container .dashboard .dashboard-rooms .room:hover {
  cursor: pointer;
}

.dashboard-container .dashboard .dashboard-rooms .room:hover .cover {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.dashboard-container .dashboard .dashboard-rooms .room img {
  max-width: 100%;
  display: block;
}

.dashboard-container .dashboard .dashboard-rooms .room .img-container {
  position: relative;
}

.dashboard-container .dashboard .dashboard-rooms .room .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.3s;
  pointer-events: none;
}

.dashboard-container .dashboard .dashboard-rooms .room .title-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-container .dashboard .dashboard-rooms .room .icon-container {
  display: flex;
}

.dashboard-container .dashboard .dashboard-rooms .room .title-container i {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container .dashboard .dashboard-rooms .room .title-container i.star-btn.fas {
  color: #3f53d9;
}

.dashboard-container .dashboard .dashboard-rooms .room .title-container i:hover {
  color: #3f53d9;
  cursor: pointer;
}

.edit-form textarea {
  resize: vertical;
  max-height: 250px;
}

.hide {
  display: none !important;
  z-index: -9999 !important;;
}

.pointer-none {
  pointer-events: none;
}

.overflow-hidden {
  overflow: hidden !important;
}

.color-used {
  color: #3D53D9 !important;
}
